global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  - /etc/prometheus/alerts.yml

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets:
          - "prometheus:9090"

  - job_name: blackbox
    metrics_path: /probe
    params:
      module: [http_2xx]
    file_sd_configs:
      - files:
          - /etc/prometheus/file_sd/blackbox_targets/*.yml
        refresh_interval: 30s
    relabel_configs:
      - source_labels: [__address__]
        target_label: __tmp_target
      - source_labels: [__tmp_target]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: blackbox:9115

  - job_name: node
    file_sd_configs:
      - files:
          - /etc/prometheus/file_sd/node_targets/*.yml
        refresh_interval: 30s

{% for scrape_job in monitoring_extra_scrape_configs | default([]) %}
  - job_name: {{ scrape_job.job_name }}
{% if scrape_job.metrics_path is defined %}
    metrics_path: {{ scrape_job.metrics_path }}
{% endif %}
{% if scrape_job.params is defined %}
    params:
{{ scrape_job.params | to_nice_yaml(indent=6) | indent(6, true) }}
{% endif %}
{% if scrape_job.static_configs is defined %}
    static_configs:
{{ scrape_job.static_configs | to_nice_yaml(indent=6) | indent(6, true) }}
{% endif %}
{% if scrape_job.file_sd_configs is defined %}
    file_sd_configs:
{{ scrape_job.file_sd_configs | to_nice_yaml(indent=6) | indent(6, true) }}
{% endif %}
{% if scrape_job.relabel_configs is defined %}
    relabel_configs:
{{ scrape_job.relabel_configs | to_nice_yaml(indent=6) | indent(6, true) }}
{% endif %}
{% endfor %}

alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - "alertmanager:9093"