default:
  user: "{{ monitoring_proxmox_api_user }}"
  token_name: "{{ monitoring_proxmox_api_token_name }}"
  token_value: "{{ monitoring_proxmox_api_token_value }}"
  verify_ssl: {{ monitoring_proxmox_verify_ssl | bool | lower }}